@page "/sugerencias"

<PageTitle>Portal sugerencias</PageTitle>

@using taanbus.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <h3>Portal de sugerencias</h3>
            <p class="w-100">Aquí podrás dejar tu opinión al respecto del transporte público y los paraderos que estos
                utilizan
                ya que todos
                tenemos ideas al respecto de como este servicio se puede mejorar. Se necesita utilizar los recursos
                tecnológicos
                para obetenr más gente, opiniónes además las personas tienen mucha creatividad, esta se puede
                implementar en el
                servicio.</p>
            <div>
                <h4 class="">¿Tienes alguna idea o sugerencia para mejorar el servicio de transporte público? Presenta
                    tu sugerencia!</h4>
                <div class="button_ mb-3">
                    <a class="btn btn-success" href="login">Presentar sugerencia</a>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="" src="\images\idea-2.jpg" style="width: 20rem; height: auto;">
            <h4>Objetivo</h4>
            <p class="w-100">Nosotros deseamos que nuestras voces sean escuchadas, el transporte público genera muchos
                ingresos
                y estos se pueden
                seguir invirtiendo para el beneficio de todos, por lo cuál buscamos más ideas innovadoras para que todos
                podamos
                disfrutar con mejor calidad el transporte y sus paraderos, queremos alzar nuestra voz por un medio
                digital actual..
            </p>
        </div>
    </div>
</div>

<section class="container my-2">
    <h4 class="text-left">Sugerencias de la comunidad</h4>
    @if (sugerencias != null)
    {
        <div class="w-100 mb-5" style="height: auto">
            <div class="row row-cols-4">
                @foreach (var sugerencia in sugerencias)
                {
                    <div class="col">
                        <div class="card text-dark bg-light mb-3 shadow p-3 mb-5 bg-body rounded" style="max-width: 18rem;">
                            <div class="card-header">Sugerencia</div>
                            <div class="card-body">
                                <h5 class="card-title">@sugerencia.Descripcion</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p><em>Cargando...</em></p>
    }
</section>
<div style="height: 5rem;">

</div>


@code {
    private readonly string api = "api/sugerencia/aprobadas";
    private IList<SugerenciaModel>? sugerencias;

    protected override async Task OnInitializedAsync()
    {
        sugerencias = await http.GetFromJsonAsync<IList<SugerenciaModel>>(api);
    }
    void showSugerencia(int id)
    {
        nav.NavigateTo($"sugerencia/{id}");
    }

}