@page "/panel_administrativo/{id:int}/{token}/sugerencias"

<PageTitle>Gestión de sugerencias</PageTitle>

@using Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav
@layout AdminLayout

<h3 class="text-center">Gestión de sugerencias de los ciudadanos</h3>
<div class="button_">
    <button @onclick="Regresar" class="btn btn-outline-primary">Regresar al panel administrativo</button>
</div>
<div class="shadow p-3 mb-5 bg-body rounded w-100 mt-4">
    @if (sugerencias != null)
    {
        <table class="mytable table">
            <thead>
                <tr>
                    <th scope="col">Ciudadano</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sugerencia in sugerencias)
                {
                    <tr>
                        <td scope="col">@sugerencia.Descripcion</td>
                        <td scope="col">@sugerencia.FechaRegistro</td>
                        <td scope="col">
                            <button class="btn btn-outline-dark" @onclick="() => showSugerencia(sugerencia.Id)"><i><img
                                src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" /></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>Cargando...</em></p>
    }
</div>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
    private readonly string api = "api/sugerencia";
    private IList<SugerenciaModel>? sugerencias;

    protected override async Task OnInitializedAsync()
    {
        sugerencias = await http.GetFromJsonAsync<IList<SugerenciaModel>>(api);
    }
    void showSugerencia(int id)
    {
        nav.NavigateTo($"sugerencia/{id}");
    }
    void Regresar()
    {
        nav.NavigateTo($"panel_administrativo/{Id}/{Token}");
    }

}