@page "/panel_administrativo/{id:int}/{token}"


@if (Id != null)
{
    <div class="container w-50 mb-2">
        <h4 class="text-center display-6">Panel administrativo</h4>
    </div>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Quejas</h3>
                        <p class="card-text">En este apartado tendrás acceso a las quejas que han registrado los ciudadanos
                            dentro del sitio.</p>
                        <a href="#" class="btn btn-primary">Gestionar quejas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Sugerencias</h3>
                        <p class="card-text">En este apartado tendrás acceso a las sugerencias que han registrado los
                            ciudadanos dentro del sitio.</p>
                        <a href="#" class="btn btn-primary">Gestionar sugerencias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
}