@page "/admin"


<div class="d-flex justify-content-center">
    <div class="d-flex">
    <a href="#" class="card" style="width: 18rem; height: 5rem; text-decoration: none;">
        <div class="card-body">
            <h2>Quejas</h2>
        </div>
    </a>

    <a href="#" class="card" style="width: 18rem; height: 5rem; text-decoration: none;">
        <div class="card-body">
            <h2>Sugerencias</h2>
        </div>
    </a>
</div>

</div>
