@page "/panel_administrativo/{id:int}/{token}"
@inject NavigationManager nav
@layout AdminLayout


@if (Id != null)
{
    <div class="container w-50 mb-2">
        <h3 class="text-center">Panel administrativo</h3>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h3 class="card-title">Quejas</h3>
                        <p class="card-text">En este apartado tendrás acceso a las quejas que han registrado los ciudadanos
                            dentro del sitio.</p>
                        <button @onclick="Quejas" class="btn btn-primary">Gestionar quejas</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h3 class="card-title">Sugerencias</h3>
                        <p class="card-text">En este apartado tendrás acceso a las sugerencias que han registrado los
                            ciudadanos dentro del sitio.</p>
                        <button @onclick="Sugerencias" class="btn btn-primary">Gestionar sugerencias</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
    private void Quejas()
    {
        nav.NavigateTo($"panel_administrativo/{Id}/{Token}/quejas");
    }

    private void Sugerencias()
    {
        nav.NavigateTo($"/panel_administrativo/{Id}/{Token}/sugerencias");
    }
}