@page "/panel_ciudadano/{id:int}/{token}/sugerencias"

<PageTitle>Mis sugerencias</PageTitle>

@using taanbus.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav
@layout CiudadanoLayout


<h3 class="text-center">Gestión de sugerencias de los ciudadanos</h3>
<div class="button_">
    <button @onclick="Regresar" class="btn btn-outline-primary">Regresar al panel ciudadano</button>
</div>
<div class="button_ mt-2">
    <button @onclick="PresentarSugerencia" class="btn btn-outline-success">Presentar sugerencia</button>
</div>

<div class="shadow p-3 mb-5 bg-body rounded w-100">
    @if (sugerencias != null)
    {
        <table class="mytable table table-hover">
            <thead>
                <tr>
                    <th scope="col">Sugerencia</th>
                    <th scope="col">Fecha de registro</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sugerencia in sugerencias)
                {
                    <tr>
                        <td scope="col">@sugerencia.Descripcion</td>
                        <td scope="col">@(sugerencia.FechaRegistro.ToString("yyyy-MM-dd"))</td>
                        <td scope="col">@(sugerencia.Status == 1 ? "Aprobado" : sugerencia.Status == 2 ? "Rechazado" :
                    "Pendiente")</td>
                        <td scope="col">
                            <button class="btn btn-outline-dark" @onclick="() => showSugerencia(sugerencia.Id)">
                                <img src="\images\edit-dark.png" style="width: 1.3rem; height: auto;">
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>Cargando...</em></p>
    }
</div>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
    private readonly string api = "api/sugerencia/user=";
    private IList<SugerenciaModel>? sugerencias;

    protected override async Task OnInitializedAsync()
    {
        sugerencias = await http.GetFromJsonAsync<IList<SugerenciaModel>>($"{api}{Id}");
    }
    void showSugerencia(int Sugerencia_Id)
    {
        nav.NavigateTo($"/panel_ciudadano/{Id}/{Token}/sugerencias/{Sugerencia_Id}");
    }
    void Regresar()
    {
        nav.NavigateTo($"panel_ciudadano/{Id}/{Token}");
    }
    void PresentarSugerencia()
    {
        nav.NavigateTo($"/panel_ciudadano/{Id}/{Token}/sugerencias/form");
    }
}