@page "/panel_ciudadano/{id:int}/{token}/sugerencias"

<PageTitle>Mis sugerencias</PageTitle>

@using taanbus.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav


<h3>Gestión de mis sugerencias</h3>

<div class="shadow p-3 mb-5 bg-body rounded w-100 mt-4">
    @if (sugerencias != null)
    {
        <table class="mytable table">
            <thead>
                <tr>
                    <th scope="col">Ciudadano</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sugerencia in sugerencias)
                {
                    <tr>
                        <td scope="col">@sugerencia.Descripcion</td>
                        <td scope="col">@sugerencia.FechaRegistro</td>
                        <td scope="col">
                            <button class="btn btn-outline-dark" @onclick="() => showSugerencia(sugerencia.Id)"><i><img
                                src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" /></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>Cargando...</em></p>
    }
</div>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
    private readonly string api = "api/sugerencia/user=";
    private IList<SugerenciaModel>? sugerencias;

    protected override async Task OnInitializedAsync()
    {
        sugerencias = await http.GetFromJsonAsync<IList<SugerenciaModel>>($"{api}{Id}");
    }
    void showSugerencia(int id)
    {
        nav.NavigateTo($"sugerencia/{id}");
    }

}