@page "/panel_ciudadano/{id:int}/{token}"

@inject NavigationManager nav
@layout CiudadanoLayout

<PageTitle>Panel ciudadano</PageTitle>

<div class="container w-50 mb-2">
    <h3 class="text-center">Panel ciudadano</h3>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-center shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title">Mis quejas</h5>
                    <p class="card-text">En este apartado tendrás acceso a las quejas que has registrado dentro del
                        sitio.</p>
                    <button @onclick="Quejas" class="btn btn-primary">Ver mis quejas</button>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card text-center shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title">Mis sugerencias</h5>
                    <p class="card-text">En este apartado tendrás acceso a las sugerencias que has registrado dentro del
                        sitio.</p>
                    <button @onclick="Sugerencias" class="btn btn-primary">Ver mis sugerencias</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
    private void Quejas()
    {
        nav.NavigateTo($"panel_ciudadano/{Id}/{Token}/quejas");
    }
    private void Sugerencias()
    {
        nav.NavigateTo($"panel_ciudadano/{Id}/{Token}/sugerencias");
    }
}