@inherits LayoutComponentBase

<PageTitle>taanbus</PageTitle>

<div>
    <div>
        <NavCiudadano></NavCiudadano>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div>
        <Footer></Footer>
    </div>
</div>
