<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 4rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="\images\Utm_logo.png" style="width: 9rem; height: auto;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-end" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link h5" href="/"><img src="\images\home.png" style="width: 1rem; height: auto;"> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="/quejas"><img src="\images\exclamation.png" style="width: 1rem; height: auto;"> Quejas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="/sugerencias"><img src="\images\idea.png" style="width: 1rem; height: auto;"> Sugerencias</a>
        </li>
           <li class="nav-item">
          <a class="nav-link h5" href="/login"><img src="\images\log-in.png" style="width: 1rem; height: auto;"> Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>