@page "/quejas"

<PageTitle>Portal quejas</PageTitle>

@using taanbus.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <h3>Portal de quejas</h3>
            <p class="w-100">Se han realizado investigaciones y el 90% de la población de Mérida ha tenido problemas o no
                está conforme con el transporte público que se ofrece. Por tanto, hemos decidido crear esta página para poder dar a
                conocer todo los problemas o situaciones que se les ha presentado a la comunidad, además de que hemos notado muchas irregularidades con respecto al trato de
                personas de la tercera edad, acoso hacía las mujeres, pésima higiene, unidades sin mantenimiento etc.
            </p>
            <div>
                <h4 class="">¿Tienes alguna mala experiencia que desees compartir con la comunidad? Cuéntanos
                    presetentando tu queja!</h4>
                <div class="button_ mb-3">
                    <a class="btn btn-danger" href="login">Presentar queja</a>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="" src="\images\bad.jpg" style="width: 20rem; height: auto;">
            <h4>Objetivo</h4>
            <p class="w-100">La voz del pueblo no ha sido escuchada lo suficiente y queremos que nuestras opiniones y puntos de vista salgan a la luz y sean tomadas en cuenta. Como pueblo, estamos unidos en esto y nuestro objetivo es el marcar un cambio positivo en nuestras vidas.
            </p>
        </div>
    </div>
</div>

<section class="container my-2">
    <h4 class="text-left">Quejas de la comunidad</h4>
    @if (quejas != null)
    {
        <div class="w-100 mb-5" style="height: auto">
            <div class="row row-cols-4">
                @foreach (var queja in quejas)
                {
                    <div class="col">
                        <div class="mycard card text-dark bg-light mb-3 shadow p-3 mb-5 bg-body rounded" style="max-width: 18rem;">
                            <div class="card-header">@queja.MotivoQueja</div>
                            <div class="card-body">
                                <h5 class="card-title">@queja.Descripcion</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p><em>Cargando...</em></p>
    }
</section>
<div style="height: 5rem;">

</div>

@code {
    private readonly string api = "api/queja/aprobadas";
    private IList<QuejaModel>? quejas;

    protected override async Task OnInitializedAsync()
    {
        quejas = await http.GetFromJsonAsync<IList<QuejaModel>>(api);
    }

    void showQueja(int id)
    {
        nav.NavigateTo($"queja/{id}");
    }
}