@page "/panel_administrativo/{id:int}/{token}/quejas"

<PageTitle>Gestión de quejas</PageTitle>

@using taanbus.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav
@layout AdminLayout

<h3 class="text-center">Gestión de quejas de los ciudadanos</h3>

<div class="button_">
    <button @onclick="Regresar" class="btn btn-outline-primary">Regresar al panel administrativo</button>
</div>

<div class="shadow p-3 mb-5 bg-body rounded w-100 mt-4">
    @if (quejas != null)
    {
        <table class="mytable table w-100">
            <thead>
                <tr>
                    <th scope="col">Ciudadano</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var queja in quejas)
                {
                    <tr>
                        <td scope="col">@queja.Ciudadano</td>
                        <td scope="col">@queja.MotivoQueja</td>
                        <td scope="col">@queja.Descripcion</td>
                        <td scope="col">@(queja.Status == 1 ? "Aprobado" : queja.Status == 2 ? "Rechazado" : "Pendiente")</td>
                        <td scope="col">
                            <div>
                                <button @onclick="() => showQueja(queja.Id)" type="button" class="btn btn-primary">Detalles</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>Cargando...</em></p>
    }
</div>


@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Token { get; set; }
    private readonly string api = "api/queja";
    private IList<QuejaModel>? quejas;

    protected override async Task OnInitializedAsync()
    {
        quejas = await http.GetFromJsonAsync<IList<QuejaModel>>(api);
    }

    void showQueja(int queja_id)
    {
        @* nav.NavigateTo($"panel_administrativo/{Id}/{Token}/quejas/detalles/{queja_id}"); *@
        @* nav.NavigateTo("/"); *@

        nav.NavigateTo($"queja/detalles/{queja_id}/auth/{Token}/{Id}");
    }
    void Regresar(){
         nav.NavigateTo($"panel_administrativo/{Id}/{Token}");
    }
}